<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hi {{name}}!
<br>
<br>
Create your cheeseburger!
<br>
<br>
<form action="/create-cheeseburger" method="post">
    Would you like Mayo?
    <select name="mayo">
        <option selected disabled></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br>
    Enter the number of patties you would like:
    <input type="number" placeholder="" name="patties"/>
    <br>
    Enter the number of buns you would like:
    <input type ="number" placeholder="" name="buns"/>
    <br>
    Enter the number of bacon you would like:
    <input type="number" placeholder="" name = "bacon"/>
    <br>
    Any special instructions?
    <input type = "text" placeholder= "" name = "instructions"/>
    <button type="submit">Submit</button>
</form>
<form action ="\logout" method ="post">
    <button type = "submit">Logout</button>
</form>
<br>
<ol>
    {{#cheeseBurgers}}
    <li>Mayo: {{mayo}}
        <br>
        Number of patties: {{patties}}
        <br>
        Number of buns: {{buns}}
        <br>
        Number of bacon: {{bacon}}
        <br>
        Special Instructions: {{instructions}}
    </li>
    <br>
    {{/cheeseBurgers}}
</ol>
</body>
</html>